body {
	font-family: 'Raleway', sans-serif;
}

header, main, footer {
	max-width: 760px;
	margin: 0 auto;
}

marquee {
	padding: 1rem;
	background-color: #eee;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 {
	color: rgb(174, 238, 238);
	text-align: left;
}

article p {
	text-align: justify;
}

.callout {
	color: #5f5f5f;
	background-color: #ffe599;
    padding: 5%;
}

footer {
    background-color: #ffe599;
    margin: 8px;
    text-align: center;
    padding: 2%; 
}

images {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    border-radius: 10%;
    
  }
